@forward 'vuetify/settings' with (
    $list-item-border-color: #D0D4CA,
    $list-item-border-width: thin,
    $field-color: #fff,
    $field-border-width: 0,
    $toolbar-color: #fff,
    $toolbar-border-width: medium,
    $toolbar-border-color: #0091EA
)